.center-block {
	display: block;
	margin: 0 auto;
}

.loading {
	width: 50px;
	height: auto;
	margin-bottom: 20px;
	margin-top: 20px;
}

a i.fa {
	color: #111;
}

#menu {
	margin-bottom: 20px;
}

#controls {
	margin-bottom: 20px;
}